<% provide(:title, "Hackday") %>


<div class = "row">
<!-- row for creating new hackday -->
	<div class = "col-md-6 col-md-offset-3">
		<%= form_for(@new_hackday) do |f| %>
			<%= f.label :title %>
			<%= f.text_field :title, class: 'form_control' %>
			<%= f.submit "Create hackday", class: "btn btn-primary" %>
		<% end %> 	
	</div>
</div>

<div class = "row">
	<!-- row for current hackday -->
	<div class = "col-md-6 col-md-offset-3">
		<%= render @current_hackday %>
	</div>

</div>


<div class = "row">
	<!-- row for past hackday -->
	<div class = "col-md-6 col-md-offset-3">
		<h1> Past Hackdays <h1>
		<%= render @past_hackdays %>
	</div>
	
</div>
